div.container section.filters {
	border: 1px solid #DDDDDD;
	height: 70px;
	width: 100%;
	color: white;
}

div.container section.filters button {
	font-size: 18px;
	color: white;
	background-color: #FF5A5F;
	border: none;
	border-radius:
	height: 48px;
	width: 20%; 
	float: right;
	right: 30px;
	margin: 11px auto 11px auto;
	position: relative;
}

div.container section.filters button:hover {
	opacity: 0.9;
}